{% extends "base.html" %}
{% block title %}
    ToDo App
{% endblock title %}

{% block content %}
    <table>
        <tr>
            <th> Items </th>
            <th> </th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>
                {{task.title}}
            </td>
            <td>
                <a href="{% url "task_detail" task.id %}">View</a>
            </td>
        </tr>
        {% empty %}
            <h3> No items in the table.</h3>
         {% endfor %}
    </table>
{% endblock content %}
