{% extends "base.html" %}
{% block title %}
    ToDo App
{% endblock title %}



{% block content %}

<p>{{request.user}}</p>

    {% if request.user.is_authenticated %}
        <!-- <a href="{% url "logout" %}">Logout</a>
            generated a logout redirect loop solved with the form below.
             --> 
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <a href="{% url "login" %}">Login</a>
    {% endif %}
    

    <hr />
    <h1> ToDo List</h1>
    <a href="{% url "task_create" %}">Add task</a>
    <table>
        <tr>
            <th> Items </th>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>
                {{task.title}}
            </td>
            <td>
                <a href="{% url "task_detail" task.id %}">View</a>
            </td>
            <td>
                <a href="{% url "task_update" task.id %}">Edit</a>
            </td>
            <td>
                <a href="{% url "task_delete" task.id %}">Delete</a>
            </td>
        </tr>
        {% empty %}
            <h3> No items in the table.</h3>
         {% endfor %}
    </table>
{% endblock content %}
